.Container-question{
    background-color: rgb(48, 65, 65);
    color: white;
    border-radius: 20px;
    padding-bottom: 5px;
    
    flex:0.5em;
}



.textArea{
  white-space: pre;
  width:  calc(100vw - 80px);      /* calc and viewport to the rescue */
  height: calc(100vh - 60);
  
}

.border{
    border-radius: 25px;
    background-color: rgb(33, 46, 58);
    color: white;
    flex:0.6em;
    width: 80vh;
    margin: 5px;
    
    
}

.border-buttom{
    overflow-wrap: break-word;
    word-wrap: break-word; /* old name */
    overflow-wrap: break-word;
}
