.border{
    border-radius: 25px;
    background-color: rgb(33, 46, 58);
    color: white;
    flex:0.6em;
    width: fit-content;
    margin: 5px;
    
    
}

.question{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word
}
